spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/feature_toggle}
    username: ${DATABASE_USERNAME:feature_toggle}
    password: ${DATABASE_PASSWORD:change-me}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

security:
  api-key: ${API_KEY:change-me}
