spring:
  application:
    name: feature-toggle
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        toggle.evaluation.duration: true
        toggle.service.duration: true
        attribute.service.duration: true
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
